<h2>Most Popular Products</h2>
<% @products.each do |p| %>
  <div class="row">
  <%= image_tag(p.image_url) %>
  <h2><%= p.title %></h2>
  <p><%= p.description %></p>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
<% end %>

